certifi==2019.9.11
chardet==3.0.4
decorator==4.4.0
docutils==0.15.2
idna==2.8
imageio==2.5.0
imageio-ffmpeg==0.3.0
Kivy==1.11.1
Kivy-Garden==0.1.4
moviepy==1.0.0
numpy==1.17.2
Pillow==8.2.0
proglog==0.1.9
Pygments==2.4.2
pytube==9.5.1
requests==2.22.0
tqdm==4.35.0
urllib3==1.25.3
